.NavList{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.StyledList{
  margin-left: 1.5%;
}
.NavList .StyledList a { 
  background-color: #f2f2f2;
  color:#333333;
  text-decoration: none;
  transition: 0.5s;
  font-size: 11pt;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}
.NavList .StyledList a:hover{
  background-color: #7959C1;
  color:white;
}