@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  padding:0;
  margin:0;
}

body, button, input {
  font-family: Roboto, sans-serif;
}

.Body{
  flex: 1;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
}